@use '@scss/variables.scss' as variables;

.container-fluid {
    width: 100%;
    height: calc(100vh - variables.$header-height);
    background-color: colors.$light-blue;
}

.container {
    padding-top: 20px;
    height: 100%;
}
